<div class="centered">
  <div>
    <img src="/assets/trolley.png" alt="Empty Cart">
    <h2>Your Shopping Cart Looks Empty</h2>
    <h4>Before proceed to checkout you must add some products to your shopping cart.</h4>
    <h4>You will find a lot of interesting products on our "Shop" page.</h4>
    <div class="card__actions">
      <a href="/" class="btn">Start Shopping</a>
    </div>
  </div>
</div>